@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p{
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
  background-color: rgba(66, 3, 3, 0);
}

h2{
  color: rgb(39, 3, 80);
  text-align:center ;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 30px;
}

.content{
padding-left: 10%;
padding-right: 10%; 
max-width: 100%; 
}

.row{
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.am{
  margin-top: 1rem; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  line-height: 1.625; 
  border-radius: 20px;
}

.educ{
  text-align: center;
  @apply max-w-3xl mx-auto;
}

.sc h3{
  font-size: 25px;
  color: rgb(39, 3, 80);
}

.sc1{
  padding: 10px;
  margin: -5px;
  background-color: rgba(122, 122, 122, 0.74);
  border-radius: 40px;
}

.leftme{
    grid-column: span 2 / span 2;
    justify-content: start;
}


.appnav{
  display: flex; 
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
  flex-wrap: wrap; 
  gap: 1rem; 
  justify-content: center; 
}

.rightam1{
  grid-column: span 3 / span 3;
  grid-column-start: 3;
}

.skill-badge {
  @apply bg-gray-700 text-white px-4 py-2 rounded-full shadow hover:bg-cyan-500 hover:text-white transition duration-300;
}
.skills-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 justify-center;
}

.link{
  color: black;

}

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(51, 51, 51);
  color: rgb(235, 19, 102);
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.btn:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px;
}
